body {
	background-color: #f1f1f1 !important;
}

.container-login {
	background-color: #313b3d;
	margin-top: 100px;
	padding: 50px;
	width:400px;
	display: flex;
	justify-content: center;
	border-radius: 0.30rem;
}

.menu_dropdown {
	position:absolute;
}

.menu_dropdown-2 {
	position: absolute;
	margin-top: 250px;
}

.menu_dropdown-3 {
	position: absolute;
	margin-top: 400px;
}



